<div class="page-header">
  <h1><span class="icon-user"></span> About us</h1>
</div>

	<p class="alert alert-info">Once upon a time, we lived in Gatineau, Quebec and dreamed of a slower pace... and sunnier climes. After many trips to several different islands, we set our sights on St. Maarten, which turned out to be the best decision we ever made! We have been living here since September 2008 and are in our late thirties</p>
	
	<p class="row">
		<div class="span2"><h2>Our Island Home</h2></div>
		<div class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
		</div>
		<div class="span4">
			MerSea Villa is located in a prestigious residential area called Dawn Beach Estates. This is a gated area, manned by a security guard 24 hours a day. The villa sits on a cliff, across the street from the sea, on a dead-end street. Privacy is excellent. The beach is a mere 5-minute walk to the beautiful powdery white-sands of Dawn Beach. Here is an idea of the distance to various attractions:
			<ul>
				<li>To Beach: 0.2 miles to Dawn Beach </li>
				<li>To Restaurant: 0.2 miles</li>
				<li>To Nearest Casino: 0.2 miles</li>
				<li>View it's location on <a href="http://maps.google.com/maps?q=http://gobeach.com/gobeach_earth/seawatch.kmz&t=k&om=1&z=16" target="_blank">Google Maps</a> or <a href="http://www.google.com/url?q=http%3A%2F%2Fwww.gobeach.com%2Fgobeach_earth%2Fseawatch.kmz&sa=D&sntz=1&usg=AFQjCNG5j4mezJaR9OUtxBla3I-TIUKiBA" target="_blank">Google Earth</a></li>
			</ul>
		</div>
	</p>
	<p class="row">
		<div class="span2"><h2>Julie</h2></div>
		<div class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
		</div>
		<div class="span4">
			Hi there! I am a professional translator by trade. As you will see when meeting the rest of our family, I am a major animal lover. Most of the time, you will find me at my desk working away. I look forward to hearing from you and customizing a package just for you. I hope to see you soon!		
		</div>
	</p>
	<p class="row">
		<div class="span2"><h2>Yannick</h2></div>
		<div class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
		</div>
		<div class="span4">
			Hello! I am a professional web developer, and I also have a black belt in jiu-jitsu... so you better pay your bill before you leave! Just kidding! Actually, I do have a black belt in jiu-jitsu and would be happy to give you self-defence classes during your stay. I can also be your driver, tour guide and concierge if you want me too... or I can make myself scarce and stay out of your hair if you prefer privacy.		
		</div>
	</p>
	<p class="row">
		<div class="span2"><h2>Phénix</h2></div>
		<div class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <%= image_tag("phenix.jpg") %>
          </a>
		</div>
		<div class="span4">
			Phénix is a black standard poodle and can be a rambunctious boy at times! He loves to play and give kisses, but is also our best watchdog.		
		</div>
	</p>
	<p class="row">
		<div class="span2"><h2>Jesse</h2></div>
		<div class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
		</div>
		<div class="span4">
			Jesse is also a black standard poodle, but much more laid back and independent. A retired show dog turned “island dog!”		
		</div>
	</p>
	<p class="row">
		<div class="span2"><h2>Ziggy</h2></div>
		<div class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
		</div>
		<div class="span4">
			Ziggy is a little escape artist found flying around the home of Tony and Michaëlle, our pool maintenance crew. He is a little bird with a big personality! He is a peach faced lovebird.		
		</div>
	</p>
	<p class="row">
		<div class="span2"><h2>Fripouille and Fripon</h2></div>
		<div class="span2">
          <a href="#" class="thumbnail" data-bitly-type="bitly_hover_card">
            <img src="http://placehold.it/360x268" alt="">
          </a>
		</div>
		<div class="span4">
			Fripouille and Fripon are two male Indian ringneck parrots. They cannot talk yet but is still pretty young. They are both a little timid with strangers but enjoy green beans and hot peppers from our garden, as does Ziggy. All three birds love to sing and dance when they see wild birds flying by. We get lots of sea birds by the way... pelicans, seagulls, frigates, etc. We even have a wild macaw regularly flying with the seagulls in the neighbourhood.		
		</div>
	</p>

