<div class="page-header">
  <h1><span class="icon-picture"></span> About St. Maarten</h1>
</div>

<p class="row">
	<p>With its hundreds of restaurants, St. Maarten/Saint-Martin is known as the Gastronomic Capital of the Caribbean. The number of restaurants per square kilometres is astounding, and there is something for everyone, from fine dining at one of the many Caribbean/French fusion restaurants to the traditional Caribbean specialties found at the roadside “lolos,” those informal restaurants that will surprise you by the quality of their dishes and the amazingly low prices!</p>
	<p>Also of note is that St. Maarten’s water is perfectly safe for consumption. Contrary to other popular Caribbean destinations, tap water is desalinated and treated seawater and is perfectly safe for consumption, although we will provide you with bottled water as well. Because it doesn’t rain very often here, almost all of our fresh fruits and veggies are flown in several times a week from Europe, the U.S. and Canada, so there is no worries about contaminated produce either. Our local grocery stores will amaze you with their selection of food from all over the world! We find the selection even better than Canada!</p>	
	
	<h2><span class="icon-plane"></span> GETTING HERE</h2>
	<p>
	Our preferred option to get here is with Westjet, which flies direct from Toronto 3 days a week in the winter, and once a week in the summer (www.westjet.com). There are also many other fine options, such as Air Transat, US Airways, American Airlines, Spirit Airlines, JetBlue, etc.
	</p>

	<h2><span class="icon-question-sign"></span> WHAT TO DO</h2>
	<p>Most people come for the beaches, and rightly so! There are so many, each with their own unique features. Some full of water sport and people watching activities. Some with exciting crashing waves, some with gently lapping seas. All with crystal clear water that will mesmerize you!</p>
	<p>However, there is more to St. Maarten/St. Martin: amazing duty-free shopping, with designer clothes and bags, perfumes, liquor, souvenirs, quality jewelry, etc. Philipsburg is a mere 8 minute-drive from MerSea Villa. For those who don’t enjoy shopping as much, the boardwalk in Philipsburg is still very nice to take a leisurely stroll by the sea and admire the huge cruise ships docked at port, and you can also take a dip and rent a chair to catch some rays while sipping a drink of your choice. There are also many restaurants and bars.</p>

	<h2><span class="icon-map-marker"></span> GETTING AROUND</h2>
	<p>We always recommend that you rent a car to take in everything the island has to offer. If you choose not to, Yannick can also drive you wherever you want to, or you can take a taxi (not a cheap option though!). Renting a car is best. That said, the beautiful Dawn Beach is a five-minute walk down the hill and you may decide you never want to go anywhere else! The Westin Dawn Beach Resort and Spa is located on this beach, and you can use the facilities free of charge: pool, hot tub and lounge chairs. You will also find a couple of restaurants on site, as well as a spa and a casino. We can arrange an appointment for you if you would like a massage or other treatment at the Westin hotel, or make a reservation at any of the restaurants.</p>

</p>

