<div class="page-header">
  <h1><span class="icon-briefcase"></span> What's included</h1>
</div>

<p class="row">
	<p>We live in a 3500 sq. ft. 4-bedroom villa. Your bedroom opens to the terrace, where a very large infinity pool, a jetted plunge pool and lounge chairs are at your disposal. The house sits on a cliff by the sea, so you have an amazing ocean view from your bedroom and you can hear the waves crashing right down below. The tradewinds are constant, so the A/C is rarely necessary. However, you can also use the independently-operated A/C unit in your bedroom if you prefer your room cooler. Your bedroom also has a complete private bathroom with large shower, a king-size bed and a minifridge. Linens, bath and beach towels, a hairdryer and some toiletries are provided. We serve fresh croissants, tropical fruits, orange juice and coffee or tea in the morning.</p>
	
<ul>
	<li>Airport transfers</li>
	<li>Daily continental breakfast for two served on the patio or in your room</li>
	<li>Daily housekeeping</li>
	<li>Use of  the pool</li>
	<li>Complimentary movie nights in your very own outdoor theater by the sea under the stars</li>
	<li>Linens, bath towels and beach towels</li>
	<li>Shampoo, conditioner and body lotion</li>
	<li>Hair dryer</li>
</ul>	

</p>
