<div class="page-header">
  <h1><span class="icon-briefcase"></span> What's included and what not</h1>
</div>

<p class="row">
	<p>We live in a 3500 sq. ft. 4-bedroom villa. Your bedroom opens to the terrace, where a very large infinity pool, a jetted plunge pool and lounge chairs are at your disposal. The house sits on a cliff by the sea, so you have an amazing ocean view from your bedroom and you can hear the waves crashing right down below. The tradewinds are constant, so the A/C is rarely necessary. However, you can also use the independently-operated A/C unit in your bedroom if you prefer your room cooler. Your bedroom also has a complete private bathroom with large shower, a king-size bed and a minifridge. Linens, bath and beach towels, a hairdryer and some toiletries are provided. We serve fresh croissants, tropical fruits, orange juice and coffee or tea in the morning.</p>
	
<h2>Included</h2>	
	
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Description</th>
	    <th>Note</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Tour of the Island, drive to the best beach on the island and a day of shopping</td>
	    <td></td>
	  </tr>		
	  <tr>
	    <td>Fridge</td>
	    <td>Includes for free x beers, 1 bottle of wine, x soda, etc...</td>
	  </tr>
	  <tr>
	    <td>Airport transfers</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Daily continental breakfast for two served on the patio or in your room</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Daily housekeeping</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Use of the pool</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Use of the jacuzzi</td>
	    <td></td>
	  </tr>
	  <tr>
	    <td>Complimentary movie nights in your very own outdoor theater by the sea under the stars (pizza included)</td>
	    <td></td>
	  </tr>	  
	  <tr>
	    <td>Linens, bath towels and beach towels</td>
	    <td></td>
	  </tr>	
	  <tr>
	    <td>Shampoo, conditioner and body lotion</td>
	    <td></td>
	  </tr>	
	  <tr>
	    <td>Hair dryer</td>
	    <td></td>
	  </tr>	
	  <tr>
	    <td>TV</td>
	    <td>Don't include any Cable TV.  We provide a library of movies you can watch.</td>
	  </tr>	
	  <tr>
	    <td>Cellular</td>
	    <td>No fees for any local calls</td>
	  </tr>	

	</tbody>
</table>

<h2>NOT Included</h2>	
	
<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Description</th>
	    <th>Note</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Kitchen</td>
	    <td>5 minutes walk from the Westin Restaurants.  We can even get them for you.</td>
	  </tr>
	</tbody>
</table>
	
</p>
