<div class="page-header">
  <h1><span class="icon-tag"></span> Pricing</h1>
</div>

<p class="row">
<p>Weekly rates per couple:</p>

<p><%= t :hello  %></p>

<table class="table table-striped">
	<thead>
	  <tr>
	    <th>Season</th>
	    <th>Period</th>
	    <th>Price</th>
	  </tr>
	</thead>
	<tbody>
	  <tr>
	    <td>Low</td>
	    <td>May 1 to October 31</td>
	    <td><span class="icon-hand-right"></span> <span class="label label-inverse">US$1100</span></td>
	  </tr>
	  <tr>
	    <td>High</td>
	    <td>November 1 to April 30</td>
	    <td><span class="icon-hand-right"></span> <span class="label label-inverse">US$1500</span></td>
	  </tr>
	  <tr>
	    <td>Christmas and New Year weeks</td>
	    <td></td>
	    <td><span class="icon-hand-right"></span> <span class="label label-inverse">US$2200</span></td>
	  </tr>
	</tbody>
</table>

<p>The above price includes daily continental breakfast for 2 and airport transfers.</p>

</p>

